body {
  margin: 0;
  background-color: #70c5ce;
  font-family: sans-serif;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url("asset/background.png") no-repeat center center;
  background-size: cover;
}

#bird {
  width: 159px;
  height: 70px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 40%;
  background: url("asset/helichoppa-removebg-preview.png") no-repeat center center;
  background-size: cover;


transform-origin: center;
transition: transform 0.1s linear
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  font-family: "Pacifico", cursive;
}

#start-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #218838;
  width: 50%;
  transition: all 1s ease-out;
}

.pipe {
  position:absolute;
  width: 60px;
  background-color: gray;
}

.top-pipe {
  top: 0;
  border-bottom: Spx solid white;
}

.bottum-pipe {
  border-top: Spx solid grey
}

#difficulty-select {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}


